#aboutMe {
    width: 50%;
    display: flex;
        flex-direction: column;
        align-items: center;
    align-self: center;
}

#aboutMeHeader {
    text-align: center;
    margin-bottom: 3vh;
    color: black;
    border-top: 2px solid rgb(0, 136, 255);
    border-bottom: 2px solid rgb(0, 136, 255);
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
#headingOne{
    background-color: rgb(0, 136, 255);
    padding: 4px 4px 4px 4px;
}
#whoAmI {
    background-color: rgb(35,35,35);
}
#whoAmIBtn {
    display: flex;
        justify-content: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

#headingTwo{
    background-color: rgb(0, 136, 255);
    padding: 4px 4px 4px 4px;
}
#whyWebDev {
    background-color: rgb(35,35,35);
}
#whyWebDevBtn {
    display: flex;
        justify-content: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

#headingThree{
    background-color: rgb(0, 136, 255);
    padding: 4px 4px 4px 4px;
}
#resumeHeader {
    background-color: rgb(35,35,35);
}
#resumeBtn {
    display: flex;
        justify-content: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

#whoAmIBody {
    background-color: rgb(245, 245, 245);
}
#whyWebDevBody {
    background-color: rgb(245, 245, 245);
}
#resumeBody {
    background-color: rgb(245, 245, 245);
    display: flex;
        flex-direction: column;
        align-items: center;
}

#resumeDownload {
    background-color: black;
    height: 3em;
    width: 8em;
    border-radius: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}
