.jumbotron {
    background-color: rgb(205, 205, 205);
    height: 42em;
    color: rgb(21, 53, 70); 
    display: flex;
        align-items: center;
}

#containerID {
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

#jacobM {
    margin: 20vh 0 5vh 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 0px 0px rgb(112, 225, 172), 0px 2px 0px rgb(112, 225, 172), -2px 0px 0px rgb(29, 29, 29), 0px -2px 0px rgb(29, 29, 29), 2px 2px 0px rgb(29, 29, 29), -2px 2px 0px rgb(29, 29, 29), 2px -2px 0px rgb(29, 29, 29), -2px -2px 0px rgb(29, 29, 29);
    letter-spacing: 2.5px;
}

#leadID {
    margin: 5vh 0 5vh 0;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: rgb(21, 53, 70);
    letter-spacing: .5px;
} 