#navbarID {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 100;
    border-bottom: 5px solid rgb(0, 112, 210);
}

#navbarNav {
    background-color: rgb(35,35,35);
    display: flex;
        justify-content: center;
}

#navAboutMe {
    color: rgb(0, 136, 255);
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}
#navProjects {
    color: rgb(0,136, 255);
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}
#navContact {
    color: rgb(0,136, 255);
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}